aws_region               = "us-east-2"
module_depth             = "../../"
instance_type            = "t3a.large"
sshpath                  = "/Path/To/Ssh/Keys"
private_key_name         = "nameofkey"
public_key_name          = "nameofkey.pub"
git_user                 = "githubuser"
aws_s3_access_key_id     = "AWS Access key ID"
aws_s3_secret_access_key = "AWS Secret access key"
aws_sg_ec2_id            = ""
aws_subnet_one_id        = ""
aws_lb_target_id         = ""
