[submodule "dungeon-revealer"]
	path = dungeon-revealer/code
	url = https://github.com/dungeon-revealer/dungeon-revealer.git
[submodule "improved-initiative"]
	path = improved-initiative/code
	url = https://github.com/cynicaloptimist/improved-initiative.git
[submodule "paragon"]
	path = paragon/code
	url = https://github.com/cynicaloptimist/paragon.git
