[submodule "dungeon-revealer"]
	path = dungeon-revealer/code
	url = git@github.com:dungeon-revealer/dungeon-revealer.git
[submodule "improved-initiative"]
	path = improved-initiative/code
	url = git@github.com:cynicaloptimist/improved-initiative.git
[submodule "paragon"]
	path = paragon/code
	url = git@github.com:cynicaloptimist/paragon.git
