aws_region            = "us-east-2"
sshpath               = "/Path/To/Ssh/Keys"
private_key_name      = "nameofkey"
public_key_name       = "nameofkey.pub"
domain_service        = "google"
aws_access_key_id     = "AWS Access key ID"
aws_secret_access_key = "AWS Secret access key"
