restore_from_local         = true Whether or not to restore from this local repo
aws_region                 = "us-east-2"
instance_type              = [Instance Type](https://aws.amazon.com/ec2/instance-types/)
sshpath                    = Absolute Path to where your SSH keys are stored
private_key_name           = Private SSH Key Name
public_key_name            = Public SSH Key Name
git_user                   = Your github repo user
aws_s3_access_key_id       = ttrpg-s3 Access Key ID
aws_s3_secret_access_key   = ttrpg-s3 Access Secret Key
domain_name                = "Domain Name you have registered"
domain_email               = "Email to recovery SSLs from let's encrypt"
aws_dns_zone_id            = "Zone Id from route53 hosted zones record that matches the domain"
